@use "../../../styles/variables" as v;

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 56px;

    .portfolio-sumary{
        display: flex;
        gap: 52px;
    }

    .investments{
        display: flex;
        gap: 32px;
    }
}
h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 36px;
    color: v.$color-text-primary;
}