@use "../../../styles/variables" as v;

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 1rem;
  background-color: v.$color-background;
  border-right: 1px solid v.$color-border;
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  background: v.$color-background;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-family: v.$font-family-primary;
  font-size: 2rem;
  color: v.$color-text-primary;
  margin-bottom: 1rem;
}

.portfolio-sumary {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  app-portfolio-sumary {
    flex: 1;
  }
}

.investments {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;

  app-add-investment-button,
  app-last-investment {
    flex: 1;
  }
}


@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid v.$color-border;
  }

  .portfolio-sumary {
    flex-direction: column;
  }

  .investments {
    flex-direction: column;
  }
}


