@use "../../../styles/variables" as v;

h1 {
  font-family: v.$font-family-primary;
  font-size: 2rem;
  color: v.$color-text-primary;
  margin-bottom: 1rem;
}

.portfolio-sumary {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  app-portfolio-sumary {
    flex: 1;
  }
}

.investments {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;

  app-add-investment-button,
  app-last-investment {
    flex: 1;
  }
}

button {
  background-color: v.$color-primary;
  color: v.$color-background;
  border: none;
  margin-right: 32px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid v.$color-border;
  }

  .portfolio-sumary {
    flex-direction: column;
  }

  .investments {
    flex-direction: column;
  }
}
