@use "../../../styles/variables.scss" as v;

.table-container {
  overflow-x: auto;
  margin-top: 1rem;
  border-radius: 8px;
  background: v.$color-background;
}

.full-width {
  width: 100%;
  min-width: 600px;
}

th.mat-header-cell {
  font-weight: 600;
  color: v.$color-text-primary;
  background-color: v.$color-background;
}

td.mat-cell {
  padding: 8px 16px;
  color: v.$color-text-secondary;
}

.positive {
  color: v.$color-success;
  font-weight: 500;
}

.negative {
  color: v.$color-danger;
  font-weight: 500;
}
